<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Опитування</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" th:href="@{/styles/styles.css}">
</head>
<body>
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h2 th:text="'Survey ' + ${survey.id} + (${survey.isDraft} ? ' [Draft]' : '')" class="text-center mb-4">
                Опитування</h2>
            <form>
                <div th:each="question : ${survey.questions}">
                    <div th:if="${question.type.name() == 'SINGLE'}">
                        <div th:replace="singleQuestion :: singleQuestion"></div>
                    </div>
                    <div th:if="${question.type.name() == 'MULTIPLY'}">
                        <div th:replace="multiplyQuestion :: multiplyQuestion"></div>
                    </div>
                </div>
                <div class="text-center">
                    <button th:disabled="${survey.isDraft}" type="submit" class="btn btn-primary">Завершити опитування
                    </button>
                </div>
            </form>
            <div class="text-center" th:if="${survey.isDraft}">
                <form method="post" th:action="@{'/view/' + ${survey.id} + '/survey/publish'}">
                    <button type="submit" class="btn btn-primary">Опублікувати</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.7/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>